.header {
    background: linear-gradient(to top, transparent 10%, #0b0b0b 100%);
    z-index: 5;
    position: fixed;
    width: 100%;
  }
  
  .title {
    display: inline-block;
    padding: 20px 0;
    font-size: 30px;
    font-family: "RESEGRG";
    color: #fff;
    text-decoration: none;
  }
  